table {
  width: 100%;
}

.spinner-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-cell {
  text-align: left;
}

.mat-footer-cell {
  text-align: left;
  font-weight: bold;
}
